#gameScreen {
    display: none;
    width: 100%;
    height: 100%;
}

#waitingScreen {
    display: none;
    position: absolute;
    width: 50%;
    margin: auto;
    text-align: center;
    top: 40%;
}

.colourButton {
    width: 50px;
    height: 50px;
    stroke-width: 6;
    stroke: black;
    border-radius: 10px;
    margin: 15px;
}

#howToPlayButton {
    margin: 10px;
}

#default {
    background-color: #666666;
}

#green {
    background-color: #33ccff;
}

#blue {
    background-color: #996633;
}

#red {
    background-color: #ffcc00;
}

#brown {
    background-color: #663300;
}

#playAgain {
    margin: 15px;
}